{% extends 'base.html.twig' %}

{% block body %}
<div class="col-6 offset-3">
<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quia delectus deserunt animi ad accusantium dolor reiciendis, vero ducimus odit sunt exercitationem minus dicta nemo ex et ratione. Ea, qui!</p>
</div>
{% endblock %}

